#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.appContainer {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crée 4 colonnes égales */
  gap: 60px; /* Espace entre les éléments */
}

.imageItem {
  text-align: center; /* Centre l'image horizontalement */
}

.active {
  border: solid red 3px;
}

.checked {
  border: solid green 3px;
}

#title_win {
  display: none;
  position: absolute; /* postulat de départ */
  background-color: rgb(255, 86, 114);
  top:50%;

  padding: 5% 21%;
  border-radius:500px;
}

#shuffle {
  margin: 10%;
}

#title_trickstar {
  margin: 5%;
}
